.list-element {
    position: relative;
    width: 144px;
    padding: 0px;
    margin: 0px;
}

ul.connected {
    padding: 0px;
    margin: 0px;
    max-width: 200px;
}

ul.connected li {
    position: relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 0px;
    left: 12px;
}

ul.connected li.connect:after {
    /* bullets */
    position: absolute;
    left: -14px; /*adjust manually*/
    margin: 8px;
    top: 0px;
}

ul.connected li.connect:before {
    /* lines */
    content:"";
    position: absolute;
    left: -11.5px; /* adjust manually */
    top: 14px;
    border-left: 1px dotted #363636;
    height: 112px;
    width: 0px;
}

