<div fxLayout="column" fxLayoutAlign="center center">
  <div style="max-width: 610px; padding-top: 32px">
    <h3>SKILLS</h3>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center"
        style="max-width: 344px; white-space: nowrap;
          text-align: center; margin: 16px; padding: 8px">
      <div fxLayout="row" fxLayoutGap="8px">
        <skills-item item="C++"></skills-item>
        <skills-item item="SQL"></skills-item>
        <skills-item item="Java"></skills-item>
      </div>
      <div fxLayout="row" fxLayoutGap="8px">
        <skills-item item="Python"></skills-item>
        <skills-item item="JS/HTML/CSS"></skills-item>
      </div>
      <div fxLayout="row" fxLayoutGap="8px">
        <skills-item item="Angular"></skills-item>
        <skills-item item="React Native"></skills-item>
      </div>
    </div>
  </div>
</div>
