<div fxlayout="column" fxLayoutAlign="center center" style="background-color: #181818">
  <div style=" max-width: 610px; padding: 32px">
    <h2>Hello! I'm Tyler.</h2>
    <mat-divider></mat-divider>
    <p>
      As I come upon my final year at UMKC, I am eagerly seeking full-time Software
      Engineering positions, apprenticeships, and internships. I bring my passion for
      developing and deploying software, and for learning new languages, libraries,
      and frameworks, to every project, and I would love to do the same for your company.
    </p>
  </div>
</div>
