<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stetch" fxLayoutAlign.xs="center center"
    style="max-width: 610px; white-space: nowrap; text-align: left">
  <img src='../../../../../assets/tyler.png'
      style="width: 337px; height: 337px"
      [@xExpand]="isOpen ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutAlign="center center"
      style="background-color: #222; width: 337px"
      [@xExpand]="isOpen ? 'open' : 'close'">
    <h2 style="margin: 0px">Tyler N. Wheaton</h2>
    <b>SOFTWARE ENGINEER</b>
    <p>
      <b>Phone:</b><br>
      816-377-0860<br>
      <br>
      <b>Email:</b><br>
      <a href="mailto:twheaton.cs@gmail.com" style="color: #fff">twheaton.cs@gmail.com</a><br>
      <br>
      <b>P.O. Box:</b><br>
      108 W 63rd St #7150<br>
      Kansas City, MO 64113<br>
      <br>
      <b>Date of Birth:</b><br>
      February 26, 1990
    </p>
  </div>
</div>
